.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.img {
    width: 300px !important;
    height: 300px !important;
    position: relative;
}

.mainMsg {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

.subMsg {
    font-size: 16px;
    font-weight: 400;
    color: #365158;
}

.redirectBtn {
    width: 300px;
    background-color: #04252E;
    color: white;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 8px;
    margin-top: 40px;
    border: none;
}

.pointer {
    cursor: pointer !important;
}