.font-en {
  font-family: 'Poppins';
}

.font-ar {
  font-family: 'arabic';
}

.container {
  font-weight: 400;
  font-size: 16px;
}

@font-face {
  font-family: arabic;
  src: url(../public/fonts/arabic.ttf);
}

.nav {
  padding: 12px 156px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(155, 168, 171, 0.16);
}

.container {
  max-width: '100%';
}

.row {
  width: 100% !important;
}

.masarLogo {
  margin-top: -8px;
}

.navList {
  list-style: none;
}

.navList li:first-child {
  margin-inline-start: 10px;
}

.navList li {
  display: inline-block;
  margin-inline-start: 56px;
}

.active {
  font-weight: 600;
}

.inlineBlock {
  display: inline-block;
}

.searchBox {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(155, 168, 171, 0.24);
  border-radius: 8px;
  width: 267px;
  height: 48px;
  border-radius: 8px;
  border: none;
  padding: 14px;
  position: relative;
}

.searchBox input {
  position: absolute;
  font-size: 14px;
  letter-spacing: 0.2px;
  width: 80%;
  border: none;
}

.searchBox-ar input {
  right: 50px;
}

.searchBox-en input {
  left: 50px;
}

.searchBox input:focus {
  outline: none;
}

.translationBtn {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(155, 168, 171, 0.24);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 12px;
  margin-inline-start: 20px;
}

.searchIcon {
  z-index: 10000;
}

.mt3 {
  margin-top: 20px !important;
}