.font-en {
  font-family: 'Poppins';
}

.font-ar {
  font-family: 'arabic';
}

.container {
  font-weight: 400;
  font-size: 16px;
}

@font-face {
  font-family: arabic;
  src: url(../public/fonts/arabic.ttf);
}

.nav {
  padding: 12px 156px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(155, 168, 171, 0.16);
}

.container {
  max-width: '100%';
}

.row {
  width: 100% !important;
}

.masarLogo {
  margin-top: -8px;
}

.navList {
  list-style: none;
}

.navList li:first-child {
  margin-inline-start: 10px;
}

.navList li {
  display: inline-block;
  margin-inline-start: 56px;
}

.active {
  font-weight: 600;
}

.inlineBlock {
  display: inline-block;
}

.searchBox {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(155, 168, 171, 0.24);
  border-radius: 8px;
  width: 267px;
  height: 48px;
  border-radius: 8px;
  border: none;
  padding: 14px;
  position: relative;
}

.searchBox input {
  position: absolute;
  font-size: 14px;
  top: 12px;
  letter-spacing: 0.2px;
  width: 75%;
  border: none;
}

.searchBox-ar input {
  right: 50px;
}

.searchBox-en input {
  left: 50px;
}

.searchBox input:focus {
  outline: none;
}

.NavButton {
  display: inline-block;
  background: #FFFFFF;
  box-shadow: 0px 4px 32px rgba(155, 168, 171, 0.24);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  padding: 12px;
  margin-inline-start: 16px;
  position: relative;
}

.searchIcon {
  z-index: 10000;
}

.mt3 {
  margin-top: 20px !important;
}

.triangle {
  background: #FFFFFF;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 15px;
  top: 57px;
  border-radius: 4px;
  transform: rotate(45deg);
  z-index: 10000;
}

.list {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  position: absolute;
  right: -20px;
  top: 65px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}

.list button {
  all: unset;
  cursor: pointer;
}

.hr {
  background-color: #E6E9EA;
}

.box {
  background: #E6E9EA80;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  color: black;
  display: flex;
  justify-content: left;
  cursor: pointer;
}

.box:not(:last-child) {
  margin-bottom: 16px;
}

.box span {
  margin-left: 16px;
  margin-top: 3px;
}